<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Enviar parámetros del request HTTP GET - URL</title>
</head>
<body>
<h1>Enviar parámetros del request HTTP GET - URL</h1>

<ul>
<li><a th:href="@{/app/params/string(texto='Hola')}">/app/params/string?texto=Hola</a></li>
<li><a th:href="@{/app/params/string(texto='Bienvenido')}">/app/params/string?texto=Bienvenido</a></li>
<li><a th:href="@{/app/params/mix-params(saludo='Cómo estás Jorge', numero=15)}">/app/params/mix-params?saludo=Cómo estás Jorge&numero=15</a></li>
<li><a th:href="@{/app/params/mix-params-request(saludo='Cómo estás Jorge', numero=15)}">/app/params/mix-params-request?saludo=Cómo estás Jorge&numero=15</a></li>
</ul>

</body>
</html>